CLIENT_ID=your_spotify_client_id
CLIENT_SECRET=your_spotify_client_secret
API_HOST=127.0.0.1
API_PORT=9000
REDIRECT_URI=http://127.0.0.1:9000/.netlify/functions/api/callback
FRONTEND_URI=http://127.0.0.1:3000

VITE_ENABLE_SPOTIFY_LOGIN=false
VITE_ENABLE_DEMO_CAPTURE=false
VITE_LOGIN_URL=http://127.0.0.1:9000/.netlify/functions/api/login
VITE_SCRAPER_URL=http://127.0.0.1:9000/.netlify/functions/api/scrape
